<div class="bg-body-secondary text-center py-5 rounded-2">
    <h1 class="dispay-6 fw-bold">Transaction History</h1>
    <div class="bg-body-secondary text-center py-5 rounded-2">
        <h3 class="dispay-6 fw-bold">Transaction Amount (Withdrawal)</h1>
            <div class="row">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-start mb-2 border px-4 rounded-3"
                      *ngFor="let transaction of withdrawalTransactionsList">
                      <div class="flex-grow-1 mouse-hover">
                        <span>Transfered {{ transaction.amount }} from account {{ transaction.account }
                        </span>
                        <span>
                            The current account balance is {{ transaction.currentBalace }}
                        </span>
                    </li>
                  </ul>
            </div>
    </div>

    <div class="bg-body-secondary text-center py-5 rounded-2">
        <h3 class="dispay-6 fw-bold">Transaction Amount (Deposit)</h1>
            <div class="row">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-start mb-2 border px-4 rounded-3"
                      *ngFor="let transaction of depositTransactionsList">
                      <div class="flex-grow-1 mouse-hover">
                        <span>Transfered {{ transaction.amount }} from account {{ transaction.account }
                        </span>
                        <span>
                            The current account balance is {{ transaction.currentBalace }}
                        </span>
                    </li>
                  </ul>
            </div>
    </div>
</div>